---
import { Image } from "astro:assets";
import AlarmaAntirrobo from "../assets/projects/AlarmaAntirrobo.webp";
import TxRxMorse from "../assets/projects/Tx&RxMorse.webp";
import BreakOut from "../assets/projects/break_out.webp";

const projects = [
  {
    title: "Alarma Antirrobo",
    description:
      "Proyecto universitario elaborado con Arduino y ESP32 con sensor HC-SR04.",
    link: "https://github.com/alejandro-diaz-osorio/anti-theft-proximity-alarm",
    image: AlarmaAntirrobo,
  },
  {
    title: "Sistema de Comunicación con Códigos Morse",
    description:
      "Proyecto universitario elaborado con Arduino y ESP32 para enviar mensajes en código Morse.",
    link: "https://github.com/alejandro-diaz-osorio/code-morse-transmissor-and-receiver",
    image: TxRxMorse,
  },
  {
    title: "Break Out",
    description:
      "Juego clásico Break Out desarrollado con HTML5, CSS3 y JavaScript puro sin librerías externas.",
    link: "https://github.com/alejandro-diaz-osorio/BREAK-OUT.git",
    image: BreakOut,
  },
];
---

<section class="py-16 bg-deep-blue px-4 mx-auto">
  <div class="max-w-5xl mx-auto px-4">
    <h2 class="text-3xl font-bold mb-8 text-center">Proyectos realizados</h2>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        projects.map((project) => (
          <a
            href={project.link}
            target="_blank"
            rel="noopener noreferrer"
            class="block bg-mist-blue rounded-lg shadow hover:scale-105 hover:bg-blue-breeze p-6 transition-all"
          >
            <Image
              src={project.image}
              alt={project.title}
              class="w-full h-40 object-cover rounded-md mb-4"
            />
            <h3 class="text-lg font-semibold mb-2 underline text-gray-800 text-center rounded-sm">
              {project.title}
            </h3>
            <p class="text-md text-gray-600">{project.description}</p>
          </a>
        ))
      }
    </div>
  </div>
</section>
