---
import { Image } from "astro:assets";
import { projects } from "../data/projects";
---

<section class="py-16 bg-deep-blue">
  <div class="max-w-5xl mx-auto px-4 text-center">
    <h2
      class="mb-4 text-4xl font-bold text-gray-100 bg-blue-breeze rounded-lg p-4 inline-block shadow-lg"
    >
      PROYECTOS REALIZADOS
    </h2>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        projects.map((project) => (
          <a
            href={project.link}
            target="_blank"
            rel="noopener noreferrer"
            class="block bg-mist-blue rounded-lg shadow hover:scale-105 hover:bg-blue-breeze p-6 transition-all"
          >
            <Image
              src={project.image}
              alt={project.title}
              class="w-full h-40 object-cover rounded-md mb-4"
            />
            <h3 class="text-lg font-semibold mb-2 underline text-gray-800 text-center rounded-sm">
              {project.title}
            </h3>
            <p class="text-md text-gray-800 text-left">{project.description}</p>
          </a>
        ))
      }
    </div>
  </div>
</section>
