---
const projects = [
  {
    title: "Personal Portfolio",
    description:
      "A modern portfolio website built with Astro and Tailwind CSS.",
    link: "https://your-portfolio.com",
    image: "",
  },
  {
    title: "Alarma Antirrobo",
    description:
      "Proyecto universitario elaborado con Arduino y ESP32 con sensor HC-SR04.",
    link: "https://your-blog.com",
    image: "",
  },
  {
    title: "Sistema de Comunicación con Códigos Morse",
    description:
      "Proyecto universitario con Arduino y ESP32 para enviar mensajes en código Morse.",
    link: "https://your-shop.com",
    image: "",
  },
];
---

<section class="py-16 bg-rosy-red px-4 rounded-lg shadow-xl max-w-5xl mx-auto mt-1">
  <div class="max-w-5xl mx-auto px-4">
    <h2 class="text-3xl font-bold mb-8 text-center">Proyectos realizados</h2>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      {
        projects.map((project) => (
          <a
            href={project.link}
            target="_blank"
            rel="noopener noreferrer"
            class="block bg-white rounded-lg shadow hover:shadow-lg transition p-6"
          >
            <img
              src={project.image}
              alt={project.title}
              class="w-full h-40 object-cover rounded-md mb-4"
            />
            <h3 class="text-xl font-semibold mb-2">{project.title}</h3>
            <p class="text-primary">{project.description}</p>
          </a>
        ))
      }
    </div>
  </div>
</section>
